---
import '../styles/locomotive-scroll.css';
import Header from "../components/Header.astro";
import HeroSection from '../components/HeroSection.astro';
import PortfolioSection from '../components/PortfolioSection.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>David - React dev</title>
  </head>

  <body class="bg-lightBlack scroll-smooth max-w-[2200px] mx-auto" data-scroll-container>
    <Header />
    <HeroSection />
	  <PortfolioSection />
  </body>
</html>

<script>
  import LocomotiveScroll from "locomotive-scroll";

  const scroll = new LocomotiveScroll({
    el: document.querySelector("[data-scroll-container]"),
    smooth: true,
    multiplier: 0.4
  });
</script>

<style is:global>
  html {
    background-color: #151515;
    color: #fff;
  }

  @font-face {
    font-family: 'thunder';
    src: url('/fonts/Thunder-MediumLC.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  .thunder-font {
    font-family: 'thunder', sans-serif;
  }
</style>
