---
---


<section data-scroll-section class="h-[100vh] min-h-min flex flex-col p-2 lg:p-4 overflow-hidden">
  <div class="flex-1 flex flex-col lg:flex-row gap-6 xl:gap-20 mt-24 xl:mt-0  pb-10 ">
    <div class="flex flex-col justify-center">
      <h2 data-scroll data-scroll-class="react-scroll" data-scroll-repeat="true" class="flex flex-col text-center md:text-start text-6xl md:text-[8rem] 2xl:text-[10rem] gap-6 react-word">
        <span  class="text-red-500 font-semibold">REACT</span> 
        <span class="developer-text">DEVELOPER</span>
      </h2>
      <p data-scroll data-scroll-class="react-scroll" data-scroll-repeat="true" class="ml-1 text-center md:text-start xl:ml-3 mt-8 react-word font-semibold">Building high-class Web Applications since 2021©</p>
    </div>
    <div data-scroll data-scroll-class="socials-scroll" data-scroll-repeat="true" class="flex flex-col items-center md:items-start gap-5 justify-center text-4xl socials-word text-center md:text-start">
      <h2 class="text-6xl xl:text-9xl">SOCIALS</h2>
      <a href="https://github.com/dav9go/" target="_blank" class="hover:text-red-500 transition-colors w-min">Github</a>
      <a href="https://www.linkedin.com/in/david9go/" target="_blank" class="hover:text-red-500 transition-colors w-min">LinkedIn</a>
    </div>
  </div>
  <h1 data-scroll  data-scroll-class="scroll-class" data-scroll-repeat="true" class="text-center md:text-start text-[5rem] leading-[5rem] md:text-[7rem] md:leading-[8rem] lg:text-[12rem] lg:leading-[10rem] 2xl:leading-[12rem] author-name thunder-font">DAVID GÓMEZ GONZÁLEZ</h1>
</section>

<style>
  .react-word {
    transform: translateX(-40px);
    opacity: 0;
    transition: transform 1s, opacity 4s;
  }

  .author-name {
    transform: translateX(-40px);
        opacity: 0;
        transition: transform 1s, opacity 4s;
  }

  .scroll-class {
	  opacity: 1;
        transform: translateX(0);
  }

  .react-scroll {
    opacity: 1;
    transform: translateX(0);
  }
  

  .socials-word {
    transform: translateX(40px);
    opacity: 0;
    transition: transform 1s, opacity 5s;
  }
  
  .socials-scroll {
    opacity: 1;
    transform: translateX(0);
  }

  .developer-text {
      color: transparent;
      -webkit-text-stroke: 2px white;
      text-stroke: 2px white;
      line-height: 1;
    }
</style>